header {
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 0 10px 0;
    top: 0;
    z-index: 6;
}

header>nav>menu>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header>nav:nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 35%;
    max-height: 100%;
    z-index: 7;
}

header>nav:nth-child(1)>a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 4.5em;
    text-decoration: none;
    margin: 5px 10px;
    z-index: 8;
}

header>nav:nth-child(1)>a>img {
    width: auto;
    height: 4em;
    transform: rotate(-18deg);
    margin: 5px 10px;
    z-index: 8;
}

header>nav:nth-child(1)>a>h1 {
    color: var(--blanc);
    font-size: 2.5em;
    margin-left: 10px;
    z-index: 8;
}

header>nav:nth-child(2) {
    width: 68%;
    max-height: 100%;
    z-index: 7;
}

header>nav:nth-child(2)>menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-height: 100%;
    padding: 0;
    z-index: 8;
}

header>nav:nth-child(2)>menu>a {
    font-size: 1.2em;
    font-weight: bolder;
    text-decoration: none;
    color: var(--noir);
    z-index: 9;
}

header>nav:nth-child(2)>menu>a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

header>nav:nth-child(2)>menu>a[href="#demo"] {
    background-color: var(--noir);
    color: var(--blanc);
    padding: 1em 1.5em;
    border-radius: 10px;
    transition: .2s ease-in-out;
}

header>nav:nth-child(2)>menu>a[href="#demo"]:hover {
    filter: invert(2);
}
/* Selector language */

.language-selector {
    position: relative;
    display: inline-block;
  }
  
  .selected-lang img, .option img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid #000; */ /* Ajout d'une bordure noire pour visibilité */
    cursor: pointer;
  }
  
  .language-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    padding: 5px 0;
    z-index: 1;
  }
  
  .option {
    margin-top: 5px;
    position: relative; /* Important pour le positionnement du popover */
  }
  
  .option:first-child {
    margin-top: 0;
  }
  
  .popover {
    display: none;
    position: absolute;
    left: calc(100% + 10px); /* Affichage à droite avec un petit espace */
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 2;
  }

@media screen and (max-width: 1200px) {
    header {
        height: auto;
        padding: 10px 0;
    }

    header>nav:nth-child(1) {
        width: 50%;
    }

    header>nav:nth-child(1)>a>img {
        height: 3.5em;
        margin-left: 10px;
    }

    header>nav:nth-child(1)>a>h1 {
        font-size: 100%;
        margin-left: 10px;
    }

    header>nav:nth-child(2) {
        width: 50%;
    }

    header>nav:nth-child(2)>menu {
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }

    header>nav:nth-child(2)>menu>a {
        font-size: 80%;
        margin: 3px;
    }
}

@media screen and (max-width: 750px) {
    header>nav:nth-child(1) {
        width: 10%;
    }

    header>nav:nth-child(1)>a>h1 {
        font-size: 0;
        margin: 0;
    }

    header>nav:nth-child(2) {
        width: 80%;
        max-height: 100%;
        z-index: 7;
    }
}