header {
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    top: 0;
    background: var(--blanc);
    box-shadow: var(--ombre);
    z-index: 5;
}
header>nav:nth-child(1) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    max-height: 100%;
    z-index: 6;
}
header>nav:nth-child(1)>h1 {
    font-size: 2.5em;
    padding-left: 10px;
    z-index: 7;
}
header>nav:nth-child(1)>a>img {
    width: auto;
    height: 4.5em;
    transform: rotate(-18deg);
    padding-left: 10px;
    z-index: 7;
}
header>nav:nth-child(2) {
    width: 68%;
    max-height: 100%;
    z-index: 6;
}
header>nav:nth-child(2)>menu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-height: 100%;
    padding: 0;
    z-index: 7;
}
header>nav:nth-child(2)>menu>a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--noir);
    z-index: 8;
}
header>nav:nth-child(2)>menu>a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
header>nav:nth-child(2)>menu>a[href="#second"] {
    background-color: var(--noir);
    color: var(--blanc);
    padding: 8px;
    border-radius: 20px;
    transition: .2s ease-in-out;
}
header>nav:nth-child(2)>menu>a[href="#second"]:hover {
    filter: invert(2);
}

@media screen and (max-width: 850px) {
    header>nav:nth-child(1) {
        width: 50%;
    }
    header>nav:nth-child(1)>a>img {
        margin-left: 10px;
    }
    header>nav:nth-child(1)>h1 {
        font-size: 1.5em;
        margin-left: 10px;
    }
    header>nav:nth-child(2) {
        width: 50%;
    }
    header>nav:nth-child(2)>menu {
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    header>nav:nth-child(2)>menu>a {
        margin: 3px;
    } 
}