section:nth-child(6) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    min-height: 650px;
}

section:nth-child(6)>menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 1em;
    margin-top: 50px;
    text-align: start;
    font-size: 1em;
    font-weight: bolder;
}

section:nth-child(6)>menu>nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 1em;
    color: darkgray;
    border-bottom: 5px solid transparent;
    transition: .1s ease;
}

section:nth-child(6)>menu>.nav-selected {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 2.2em;
    color: black;
    border-bottom: 5px solid black;
    transition: .1s ease;
    z-index: 3;
}

nav:hover,
.nav-selected:hover {
    cursor: pointer;
}

hr {
    width: 57%;
    height: 1px;
    background: darkgray;
    border: 1px solid darkgray;
    margin: -.5em 0 1em 0;
    outline: none;
    z-index: 2;
}

table {
    width: 60%;
    height: 70%;
    padding: 10px;
    table-layout: fixed;
    border-collapse: collapse; 
    border-style: hidden;
    box-shadow: 0 0 0 1px #666;
    background: var(--blanc);
    filter: brightness(1.1);
}

table, tr:first-child>th:first-child, tr:first-child>td:first-child {
    border-top-left-radius: 15px;
}
    
table, tr:first-child>th:last-child, tr:first-child>td:last-child {
    border-top-right-radius: 15px;
}

table, tr:last-child>td:first-child {
    border-bottom-left-radius: 15px;
}
    
table, tr:last-child>td:last-child {
    border-bottom-right-radius: 15px;
}

th {
    background: var(--blanc);
    filter: invert(2);
    height: 3em;
}

tr {
    border: 1px solid rgb(201, 201, 201);
}

td {
    text-align: center;
    font-weight: bold;
}

td>img {
    width: 2em;
    height: 2em;
}

@media screen and (max-width: 1500px) {
    table {
        width: 70%;
        height: 70%;
    }
    section:nth-child(6)>menu {
        width: 70%;
    }
    
    section:nth-child(6)>menu>nav {
        width: 8em;
    }
    
    section:nth-child(6)>menu>.nav-selected {
        width: 8em;
    }
    
    hr {
        width: 67%;
    }
    tr {
        height: 60px;
    }
}

@media screen and (max-width: 985px) {
    table {
        width: 98%;
        height: 75vh;
    }
    section:nth-child(6)>menu {
        width: 90vw;
    }
    
    section:nth-child(6)>menu>nav,
    section:nth-child(6)>menu>.nav-selected {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
        margin: 0 5% 1% 0;
        text-align: center;
        font-size: 100%;
    }
    
    hr {
        width: 98%;
    }
    tr {
        height: 60px;
    }
}