section:nth-child(4) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 60vw;
    max-height: 100vh;
    min-height: 650px;
    padding: 20vh 20vw 20vh 20vw;
    border-radius: 20px;
    z-index: 5;
}

form {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 550px;
    border-radius: 50px;
    text-align: center;
    background: #e0e0e0;
    box-shadow: 22px 22px 44px #bebebe,
        -22px -22px 44px #ffffff;
    box-shadow: var(--ombre-hover);
    z-index: 0;
}

form>h4 {
    font-size: 1.6em;
}

form>label[for="email"],
form>label[for="user"],
form>label[for="pass"],
form>label[for="confirm"] {
    display: block;
    position: relative;
    min-width: 100%;
    margin: 6px 0px;
}

form>label>input[type="email"],
form>label>input[type="text"],
form>label>input[type="password"] {
    min-width: 90%;
    height: 3em;
    padding: .8em .6em .8em .8em;
    margin: .5em;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 22px 22px 44px #bebebe,
        -22px -22px 44px #ffffff;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    box-shadow: var(--ombre);
}

form>label>input::placeholder {
    font-size: 1.5em;
    font-weight: bolder;
}

form>label[for="email"]>input:focus,
form>label[for="user"]>input:focus,
form>label[for="pass"]>input:focus,
form>label[for="confirm"]>input:focus,
form>label[for="email"]>input:active,
form>label[for="user"]>input:active,
form>label[for="pass"]>input:active,
form>label[for="confirm"]>input:active {
    min-width: 90%;
    height: 1.5em;
    padding: .8em .6em .8em .8em;
    margin: .5em;
    background: #f5f5f5;
    box-shadow: inset 22px 22px 44px #bebebe,
        inset -22px -22px 44px #ffffff;
    border: 4px solid rgb(6, 176, 255);
    border-radius: 20px;
    box-shadow: var(--ombre);
}

form>button {
    margin-top: 30px;
    color: var(--noir);
}

@media screen and (max-width: 1600px) {
    section:nth-child(4) {
        min-height: 100vh;
        padding: 12vh 20vw 20vh 20vw;
    }
}

@media screen and (max-width: 950px) {
    section:nth-child(4) {
        min-height: 80vh;
        padding: 10vh 20vw 10vh 20vw;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 80%;
        padding: 20px 20px 30px 20px;
        margin-top: 5vh;
        text-align: center;
        border-radius: 0;
        background: whitesmoke;
        box-shadow: none;
    }
}

@media screen and (max-width: 380px) {

    section:nth-child(4) {
        min-height: 80vh;
        padding: 10vh 20vw 10vh 20vw;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 70%;
        padding: 10px 20px 30px 20px;
        margin-top: 5vh;
        text-align: center;
        border-radius: 0;
        background: whitesmoke;
        box-shadow: none;
    }

    form>label>input[type="email"],
    form>label>input[type="text"],
    form>label>input[type="password"] {
        min-width: 90%;
        height: 1.2em;
        padding: .8em .6em .8em .8em;
        margin: .3em;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow: 22px 22px 44px #bebebe,
            -22px -22px 44px #ffffff;
        border: 2px solid whitesmoke;
        border-radius: 20px;
        box-shadow: var(--ombre);
    }
}