section:nth-child(4) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 60vw;
    max-height: 60vh;
    min-height: 650px;
    padding: 20vh 20vw 20vh 20vw;
    border-radius: 20px;
    z-index: 5;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 80%;
    padding: 60px 120px 80px 120px;
    text-align: center;
    border-radius: 30px;
    background: whitesmoke;
    box-shadow: var(--ombre);
}

label {
    display: block;
    position: relative;
    min-width: 100%;
    margin: 10px 0px;
}

label>input {
    min-width: 90%;
    height: 1.2em;
    padding: .6em .6em .6em .8em;
    margin: .4em;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    box-shadow: var(--ombre);
}

form>button {
    margin-top: 30px;
    color: var(--noir);
}

@media screen and (max-width: 1600px) {
    section:nth-child(4) {
        min-height: 100vh;
        padding: 12vh 20vw 20vh 20vw;
    }
}

@media screen and (max-width: 950px) {
    section:nth-child(4) {
        min-height: 80vh;
        padding: 10vh 20vw 10vh 20vw;
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        width: 30%;
        height: 70%;
        padding: 20px 120px 40px 120px;
        margin-top: 5vh;
        text-align: center;
        border-radius: 30px;
        background: whitesmoke;
        box-shadow: var(--ombre);
    }
}