main>section:nth-child(3) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    max-height: 80vh;
    min-height: 650px;
    margin: 10vh 15vw 10vh 15vw;
    z-index: 4;
}

section:nth-child(3)>figure {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    width: 20em;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background: whitesmoke;
    z-index: 4;
}

section:nth-child(3)>figure>img {
    width: 8em;
    height: auto;
}

section:nth-child(3)>figure>figcaption {
    font-size: 1em;
    font-weight: bold;
    z-index: 4;
}

@media screen and (max-width: 1600px) {
    main>section:nth-child(3) {
        height: auto;
    }

    section:nth-child(3)>figure {
        width: 16em;
    }

    section:nth-child(3)>figure>img {
        width: 6em;
    }
}

@media screen and (max-width: 950px) {
    main>section:nth-child(3) {
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        min-width: 100vw;
        min-height: 80vh;
        margin: 0;
    }

    section:nth-child(3)>figure {
        width: 12em;
        margin: 10px;
        padding: 0;
    }

    section:nth-child(3)>figure>img {
        width: 4em;
    }

    section:nth-child(3)>figcaption {
        font-size: .8em;
    }
}