main>section:nth-child(2) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 60vw;
    max-height: 70vh;
    min-height: 650px;
    margin: 10vh 20vw 10vh 20vw;
    padding-top: 15vh;
    z-index: 4;
}
section:nth-child(2)>figure {
    display: block;
    width: 20em;
    height: auto;
    margin: 10px;
    border-radius: 25px;
    z-index: 4;
}
section:nth-child(2)>figure>img {
    width: 20em;
    height: auto;
    object-fit: contain;
    object-position: top;
    border-radius: 25px;
}

@media screen and (max-width: 1700px) {
    main>section:nth-child(2) {
        height: auto;
        margin: 20vh 0;
    }
section:nth-child(2)>figure,
section:nth-child(2)>figure>img {
    width: 14em;
}
}

@media screen and (max-width: 950px) {
    main>section:nth-child(2) { 
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        min-width: 100vw;
        min-height: 80vh;
        overflow: scroll;
        gap: 10px;
    }
    section:nth-child(2)>figure,
    section:nth-child(2)>figure>img {
        width: 10em;
    }
}