section:nth-child(1) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 60vw;
    max-height: 60vh;
    min-height: 650px;
    padding: 10vh 20vw 20vh 20vw;
    border-radius: 20px;
    z-index: 5;
}
section:nth-child(1)>img {
    display: block;
    width: 80%;
    height: auto;
    border-radius: 50px;
    box-shadow: var(--ombre);
}
section:nth-child(1)>a {
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    section:nth-child(1) {
        min-width: 100vw;
        margin-top: 10vh;
        padding: 0;
    }
    section:nth-child(1)>img {
        display: block;
        width: 80%;
        margin-top: 18vh;
    }
}