main>section:nth-child(2) {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 60vw;
    max-height: 70vh;
    min-height: 650px;
    margin: 10vh 20vw 10vh 20vw;
    padding-top: 15vh;
    z-index: 4;
}

section:nth-child(2)>figure {
    display: block;
    width: 20em;
    height: auto;
    margin: 10px;
    border-radius: 25px;
    z-index: 4;
}

section:nth-child(2)>figure>img {
    width: 20em;
    height: auto;
    object-fit: contain;
    object-position: top;
    border-radius: 25px;
}

.lightbox {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: var(--lightbox);
    z-index: 9999;
}

.lightbox-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--ombre);
    background-color: var(--lightbox);
}

.lightbox-content>img {
    width: 100%;
    max-width: 500px;
}

.lightbox-content>.product-info {
    text-align: center;
}

.lightbox-content>.close-btn,
.lightbox-content>.arrow-btn {
    cursor: pointer;
    padding: 10px;
    color: var(--blanc);
    border: 1px solid var(--noir);
    background-color: var(--noir);
}

.lightbox-content>.arrow-btn {
    position: absolute;
    top: 58%;
    font-size: 2em;
    transform: translateY(-50%);
}

.lightbox-content>.arrow-btn.left {
    left: 10%;
}

.lightbox-content>.arrow-btn.right {
    right: 10%;
}


@media screen and (max-width: 1700px) {
    main>section:nth-child(2) {
        height: auto;
        margin: 20vh 0;
    }

    section:nth-child(2)>figure,
    section:nth-child(2)>figure>img {
        width: 14em;
    }
}

@media screen and (max-width: 950px) {
    main>section:nth-child(2) {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        min-width: 100vw;
        min-height: 80vh;
        overflow: scroll;
        gap: 10px;
    }

    section:nth-child(2)>figure,
    section:nth-child(2)>figure>img {
        width: 10em;
    }
}