@import url(imports.css);

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--blanc);
    transition: background-color  1s ease-out, color  1s ease-out;
    z-index: 0;
}

header {
    background: var(--blanc);
    transition: background-color  1s ease-out, color  1s ease-out;
}

#colorSwitcher {
    display: block;
    position: sticky;
    align-self: flex-end;
    justify-self: flex-end;
    width: auto;
    height: auto;
    bottom: 0;
    padding: 0 10px 10px 0;
    border-radius: 8px 0 0 8px;
    animation: 2s ease-in colorSwitch forwards;
    z-index: 20;
}

#colorSwitcher.dark::before {
    content: url(../img/main/sun.png);
}

#colorSwitcher::before {
    content: url(../img/main/moon.png);
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    min-height: 100vh;
    z-index: 1;
}

main>section {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    text-wrap: balance;
    z-index: 2;
}

button {
    display: block;
    background-color: var(--blanc);
    font-size: large;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-top: 10vh;
    padding: 20px 50px;
    box-shadow: var(--ombre);
    animation: 5s ease-in-out button infinite;
    z-index: 6;
}

button:hover {
    display: block;
    background-color: var(--noir);
    color: var(--blanc);
    border: 1px solid transparent;
    box-shadow: var(--ombre-hover);
    z-index: 6;
}

@media screen and (max-width: 1500px) {
    main>section {
        height: auto;
        padding: 10vh 0 10vh 0;
        margin: 0;
    }
}